<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polito.mad1819.group17.deliveryapp.restaurateur">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".orders.StatsActivity"></activity>
        <activity
            android:name=".orders.AvailableDeliverymenActivity"
            android:label="@string/title_activity_choose_deliveryman"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.EditProfileActivity" />
        <activity
            android:name=".dailyoffers.FoodDetailsActivity"
            android:label="@string/title_activity_edit_food"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".orders.OrderDetailsActivity"
            android:label="@string/title_activity_order_details" />
        <activity android:name=".reviews.AnalyticsActivity"
            android:label="@string/title_activity_analytics"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB7Tku5m9p0LVYU8k8-G7RB0DQoDXjvdSE" />
    </application>

</manifest>